<div class="container col-8 text-center">
  <form action="/" method="POST">
    <label for="url_origin" class="form-label"></label>
    <input type="text" class="form-control" id="url_origin" name="url_origin" placeholder="Input URL here">
    <button type="submit" class="btn btn-primary mt-3">Shorten</button>
  </form>
</div>