<div class="container col-8 text-center">
  <form action="/" method="POST">
    <label for="url_shorten" class="form-label fs-5 fw-bold d-flex">Here is the shorten URL:</label>
    <input type="text" class="form-control" id="url_shorten" name="url_shorten" value="{{this.url_shorten}}">
    <button type="submit" class="btn btn-primary mt-3" onclick="copyUrl()">Copy</button>
  </form>
</div>

<!--click copy to clipboard-->
<script>
  function copyUrl() {
    event.preventDefault()
    event.stopPropagation()
    // Get the text field
    var copyText = document.getElementById("url_shorten");

    // Select the text field
    copyText.select();
    copyText.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText.value);

    // Alert the copied text
    alert("Copied the URL: " + copyText.value);
  }
</script>