<div class="container col-8 text-center">
  <form action="/" method="POST">
    <label for="url_shorten" class="form-label"></label>
    <input type="text" class="form-control" id="url_shorten" name="url_shorten" value="{{this.url_origin}}_shortened">
    <button type="submit" class="btn btn-primary mt-3">Copy</button>
  </form>
</div>